* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;


}
#root {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 


}

main{
    min-height: 100%;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    gap: 1rem;
}

.tarjeta{
    overflow: hidden;
    height: 300px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contimg{
    height: 70%;
    width: 100%;
}

.contimg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.textd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}