* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;


}
#root {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 


}
div {
    border-radius: 25px;
    
}

main{
    min-height: 100%;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    gap: 1rem;
}

.tarjeta{
    overflow: hidden;
    height: 500px;
    width: 405px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contimg{
    overflow: hidden;
    height: 70%;
    width: 100%;
}

.contimg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.textd{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    margin-top: 5%;

}
.contenidoTxt{
margin-top: 5%;
}

.arriba{
    display: flex;
    
    justify-content: space-between;
    height: 30px;
    width: 400px;

}

.super{
    border: solid gray;
    border-radius: 25px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 50%;
    white-space: nowrap;
    font-size: small;
}
.rtr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: break-word;
}
.type{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 75%;
        white-space: nowrap;
       
}
.camas{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        white-space: nowrap
}
.contenedor{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contenedor2{
    display: flex;
}

#nav{
    color: red;
}
